@model RealEstate_Dapper_UI.Dtos.ServiceDtos.CreateServiceDto
@{
    ViewData["Title"] = "CreateServiceDetail";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Servis Ekleme Alanı</h6>
                <form method="post">
                    <label>Servis İsmi</label>
                    <input type="text" asp-for="ServiceName" class="form-control">
                    <br />
                    <label>Servis Durumu</label>
                    <input type="text" asp-for="ServiceStatus" class="form-control"> <br />

                    <button class="btn btn-primary">Bilgileri Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

