@model List<RealEstate_Dapper_UI.Dtos.PropertyImageDtos.PropertyImageDtos>
<div class="single-post-image mb-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            @foreach (var item in Model)
            {
                <div class="carousel-item @(item == Model.First() ? "active" : "")">
                    <img src="~/starter/assets/images/p1.jpg" class="d-block w-100" alt="...">
                </div>
            }
        </div>

        <!-- Geri Butonu -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <!-- İleri Butonu -->
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

